*{
  margin: 0;
  padding: 0;
}

html,body{
  font-size:18px;
  background-color: #f5f6f7;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo{
  margin:0;
  text-align: center;
  flex:1;
}
.imagen-carrito-compras {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 100px;
}
.contenedor-principal{
  display: block;
}

.boton{
  justify-content: center;
  text-align: center;
}




